* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
header {
  flex-direction: column;
}

body {
  gap: 2rem;
  /* background-image: url(./img/nightsky.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; */

  margin: 0 auto;
}
header img {
  width: 10rem;
}
main {
  flex-wrap: wrap;
  gap: 1rem;
}
.film_title,
.planet_name,
.person_name {
  font-size: 1.4rem;
  font-weight: 700;
}
ul {
  list-style: none;
  gap: 2rem;
}
.personDiv,
.planetDiv,
.filmDiv {
  border: 2px solid black;
  border-radius: 1rem;

  padding: 1rem;
}

.filmDiv {
  width: 40rem;
  height: 15rem;
}
.planetDiv {
  width: 15rem;
  height: 15rem;
}
.personDiv {
  width: 15rem;
  height: 15rem;
}
.input_box {
  gap: 1rem;
}

#loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.2);
  border-top-color: #000;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}
