.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
body,
header {
  flex-direction: column;
}

body {
  gap: 2rem;
}
main {
  flex-wrap: wrap;
  gap: 1rem;
}
.film_title,
.planet_name,
.person_name {
  font-size: 1.4rem;
  font-weight: 700;
}
ul {
  list-style: none;
  gap: 2rem;
}
.personDiv,
.planetDiv,
.filmDiv {
  border: 2px solid black;
  border-radius: 1rem;

  padding: 1rem;
}

.filmDiv {
  width: 40rem;
  height: 15rem;
}
.planetDiv {
  width: 15rem;
  height: 15rem;
}
.personDiv {
  width: 15rem;
  height: 15rem;
}
.input_box {
  gap: 1rem;
}
